<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
        <link rel="stylesheet" href="../styles/index.scss">
        <title>My first www site</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="wrapper">
            <br/><br/><br/>
            <div class="anim-elem">
                
            </div>

            <br/><br/><br/><br/><br/>
            <h1>Nagłówek H1</h1>
            <h2>Nagłówek H2</h2>
            <h3>Nagłówek H3</h3>
            <p>To jest treść akapitu</p>
            <p class="small">To jest treść akapitu pisana mniejszym rozmiarem czzcionki.</p>
            <a class="btn">BUTTON</a><br/><br/>
            <input type="text" class="npt" placeholder="Imię" /><br/><br/><br/><br/>
            <input type="text" class="npt" placeholder="Imię" disabled /><br/><br/><br/><br/>
            <input type="text" class="npt npt-error" placeholder="Imię" /><br/><br/><br/><br/>

            <div class="gradient">
            </div><br/><br/><br/><br/>


            <div class="working-video">

            </div>
            <br/><br/><br/><br/>
            <i class="flaticon-play" style="font-size: 40px;"></i>

            <br/><br/><br/><br/>
            <div class="flexbox">
                <div class="flexbox1">To jest element flex box 1</div>
                <div class="flexbox2">To jest element flex box 2</div>
                <div class="flexbox3">To jest element flex box 3</div>
                <div class="flexbox4">To jest element flex box 4</div>
                <div class="flexbox5">To jest element flex box 5</div>
                <div class="flexbox1">To jest element flex box 6</div>
                <div class="flexbox2">To jest element flex box 6</div>
                <div class="flexbox3">To jest element flex box 7</div>
            </div>


            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            

        </div>
        <script src="../js/index.js" type="text/javascript"></script>
    </body>
</html>
