<a href="#" class="baner-anim-container-2">
    <img src="../images/line-1-min.jpg" alt="" class="line-1-2" />
    <img src="../images/line-2-min.jpg" alt="" class="line-2-2" />
    <img src="../images/line-3-min.jpg" alt="" class="line-3-2" />
    <img src="../images/line-4-min.jpg" alt="" class="line-4-2" />
    <img src="../images/line-5-min.jpg" alt="" class="line-5-2" />
    <img src="../images/brilliant-min.png" alt="" class="brilliant-2" />
    <img src="../images/text-1-min.png" alt="" class="text_1-2" />
    <img src="../images/text-2-min.png" alt="" class="text_2-2" />
    <img src="../images/button-min.png" alt="" class="button-2" />
</a>