<div class="component boxes">
    <div class="wrapper">
        <div class="boxes__cont">
            <div class="call koliber">
                <img 
                    src="../images/koliber480.jpg" alt="" />
                <h3>Lorem ipsum</h3>
                <p>Photo by Jan Kowalski in 1988 r. Lorem ipsum dolor sit amet</p>
            </div>
            <div class="call los">
                <img src="../images/los480.jpg" alt="" class="transforming" />
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Photo by Jan Kowalski in 1988 r. dolor sit amet dolor sit amet dolor sit amet dolor sit amet amet dolor sit amet dolor sit amet</p>
            </div>
            <div class="call tygrys">
                <img src="../images/tygrys480.jpg" alt="" />
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Photo by Jan Kowalski in 1988 r. Lorem ipsum Lorem ipsum Lorem ipsum</p>
            </div>
            <div class="call zebra">
                <img src="../images/zebra480.jpg"
                    srcset="../images/zebra384.jpg 419w, 
                            ../images/zebra240.jpg 767w, 
                            ../images/zebra480.jpg 1279w"
                    sizes="(min-width: 1200px) 767px"
                 alt="" class="rounded" />
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Photo by Jan Kowalski in 1988 r. Lorem ipsum</p>
            </div>
        </div>
    </div>
</div>
