<div class="hero">
    <div class="wrapper">
        <div class="hero-container">
            <header>
                <h1>Lorem ipsum Heading 1</h1>
                <h2>Lorem ipsum Heading 2</h2>
            </header>
            <a href="#" class="btn">
                <span>Link</span>
            </a>
        </div>
    </div>
</div>
