<div class="component image">
    <figure>
        <picture>
            <source media="(min-width: 1280px)" srcset="../images/flaming1920.jpg" />
            <source media="(min-width: 768px)" srcset="../images/flaming1536.jpg" />
            <source media="(orientation: portrait)" srcset="../images/flaming860-p.jpg" />
            <img src="../images/flaming742.jpg" alt="Flaming na wodzie" />
        </picture>
        <figcaption class="wrapper">
            <h3>Flaming na wodzie</h3>
            <p>Długość ciała 80–145 cm, przy czym samce są większe od samic[7]. Masa ciała: 1,9–3 kg[6]. Flamingi charakteryzują się długą szyją i nogami, w locie wyciągniętymi. Skrzydła długie i zaostrzone. Palce w liczbie 3 lub 4 połączone są błoną pławną (u dwóch gatunków z rodzaju Phoenicoparrus zachował się czwarty, tylny palec[6]). Mimo swojej budowy dobrze latają, potrafią również pływać, co czynią jednak głównie osobniki młode. W locie nogi i szyja wyciągnięte. Dziób świadczy o wysokiej specjalizacji pokarmowej. Gdy ptak zagłębi go w wodzie, językiem przepycha wodę, a umieszczone pod górną szczęką blaszki (lamella) wychwytują pożywienie, np. glony i fragmenty roślin. Osobniki młode mają proste dzioby i są karmione wydzieliną z wola[8]. </p>
        </figcaption>
    </figure>
</div>
