<nav class="nav">
    <div class="wrapper">
        <div class="nav-container">

            <img src="../images/wild-things60.png" 
                 srcset="../images/wild-things60.png 1x, 
                        ../images/wild-things120.png 2x, 
                        ../images/wild-things180.png 3x" 
                 alt="logo" class="nav-logo" />

            <button class="nav-button" data-js="nav-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-list">
                <li>
                    <a href="#">Category 1</a>
                </li>
                <li>
                    <a href="#">Category 2</a>
                </li>
                <li>
                    <a href="#">Category 3</a>
                </li>
                <li>
                    <a href="#">Category 4</a>
                </li>
                <li>
                    <a href="#">Category 5</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
