<div class="component video">
    <div class="wrapper">
        <div class="video__cont" data-video-cont>
            <h2 class="video__heading">Video element</h2>
            <video>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg" />
                Twoja przeglądarka nie wspiera video HTML5.
            </video>
            
            <button class="video__button button-play" data-btn-play>
                <i class="flaticon-play"></i>
            </button>
            <button class="video__button button-pause" data-btn-pause>
                <i class="flaticon-pause"></i>
            </button>
            <div class="video-progress" data-progess-bar></div>
        </div>
    </div>
</div>
