<div class="component yt-video">
    <div class="yt-video__cont">
        <div class="yt-video__movie">
            <iframe width="1227" height="690" src="https://www.youtube.com/embed/P3g7xrpxCQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
